@model BookStore.Models.order_item

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.book.book_title)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
    @if (Session["cart"] != null)
    {

        foreach (var item in (List<BookStore.Models.order_item>)Session["cart"])
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.book.book_title)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td >      </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.book.Id }) |

                    @Html.ActionLink("Delete", "Delete", new { id = item.book.Id })
                </td>
            </tr>
        }

    }
    </table>
<div>
    


</div>
<p>
    @Html.ActionLink("Purchase", "Create")
</p>
