@model BookStore.Models.RegisterViewModel

<div class="bg-colored"></div>
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class=" col-lg-6">
        <div class="section bg-white p-0">
            <div class="card-header ">
                <div class="text-center mt-2 mb-1">
                    <h1>Sign Up</h1>
                </div>
            </div>
            <div class="card-body">
                <div>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "row", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group col-12">
                            <input type="text" class="form-control" id="UserName" name="UserName"
                                   placeholder="User Name" required>
                        </div>
                        <div class="form-group col-12">
                            <input type="email" class="form-control" id="Email" name="Email" placeholder="Email"
                                   required>
                        </div>
                        <div class="form-group col-12">
                            <input type="tel" class="form-control" id="PhoneNumber" name="PhoneNumber"
                                   placeholder="Phone Number" required>
                        </div>
                        <div class="form-group col-12">
                            <input type="text" class="form-control" id="user_address" name="user_address"
                                   placeholder="Your Address" required>
                        </div>

                        <div class="form-group col-12">
                            @Html.DropDownListFor(m => m.cityId, ViewBag.city as SelectList, new { @class = "custom-select" })
                            @Html.ValidationMessageFor(m => m.cityId, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group col-12">
                            <input type="password" class="form-control" id="Password" name="Password"
                                   placeholder="Password" required>
                        </div>
                        <div class="form-group col-12">
                            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword"
                                   placeholder="Confirm Password" required>
                        </div>
                        <div class="col-12">
                            <small>Already have an account?</small>
                            <a href="Login">Sign In</a>
                        </div>
                        <div class=" col-12 text-center mt-3">
                            <input type="submit" class="full-button" value="Register" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.user_address, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.user_address, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.cityId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.cityId, ViewBag.cityId as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.cityId, "", new { @class = "text-danger" })

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}*@
